body{
    background-color: rgba(127, 255, 212, 0.34);
} 
.container{
    display: flex;
    justify-content: center;
    height: 800px;
    align-items: center;
}
.item{
    width: 330px;
    height: 500px;
    text-align: center;
    background-color: white;
    font-size:15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(11, 11, 11, 0.533);
}
.item h2{
    margin: 15px;
}
.item img{
    width: 100%;
    border-radius: 15px;
}
.item p{
    color: gray;
}